@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}
.first-section {
  background-image: url(../public/Rectangle4.png);
  background-position: center;
}
.card-container::-webkit-scrollbar {
  background: rgb(244, 243, 243);
  height: 6px;
}
.card-container::-webkit-scrollbar-thumb {
  background: #4361ee;
  border-radius: 4px;
}
.blog-container::-webkit-scrollbar {
  background: rgb(197, 196, 196);
  height: 6px;
}
.blog-container::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}
.agent_section {
  background-image: url(../public/blurry\ ellipse.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
@media (min-width: 1280px) {
  .first-section {
    background-position: bottom;
  }
}
